.parent{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto";
    
}
.child-one{
   background-color: #1F2937; 
   display:flex;
   flex-direction: column;
   color:white;
   padding-left:200px;
   padding-right:200px;
   padding-bottom:50px;
}
.header{
    display:flex;
    justify-content: space-between;
    margin-bottom:90px;
    margin-top:10px;
}
.logo{
    font-size:24px;
    color:#F9FAF8;
    font-weight: 700;
}
.right{
    display:flex ;
    gap:20px;
    font: 18px;
    color:#E5E7EB
}
.content{
    display:flex;
    justify-content:space-between;
    padding-bottom : 90px;
    gap:10px;

}
.text{
    width:50%
}
.img{
    width:50%;
    display:flex;
    justify-content: center;
}
.heading{
    font-size:48px;
}

.profile{
    height:350px;
    width:350px;
    border-radius: 50%;
}
.other{
    font-size:18px;
    color:#E5E7EB;
    padding-top: 10px;
    padding-bottom:10px;
}
.sign-up{
    background-color: #3882F6;
    padding-top:10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 18px;
    border-style: none;
    border-radius: 8px;
    color:#F9FAF8;
    font-weight:900;
}
.outer-div{
    display:flex;
    justify-content: center;
    
}